beautifulsoup4==4.11.2
google_api_python_client==2.112.0
httplib2==0.22.0
Markdown==3.5.1
moviepy==1.0.3
oauth2client==4.1.3
Pillow==10.2.0
playsound==1.3.0
praw==7.7.1
PyVirtualDisplay==3.0
Requests==2.31.0
selenium==4.17.2
webdriver_manager==4.0.1
